.row {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.small-bird {
    width: 64px;
    height: 64px;
}

.large-bird {
    width: 320px;
    height: 320px;
}