
$unit: 4px;
$border-radius: 4px;

@mixin for-extra-small {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin for-medium {
    @media screen and (min-width: 900px) {
        @content;
    }
}


.container{
    &_inn{
        @include for-extra-small{
            display: flex;
            
        }
    }

    &__item{
        height: 200px;
        display: flex;
         @include for-extra-small{
                flex-grow: 1;
            }
        &_text{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-transform: lowercase;
            padding: $unit*2;
            border-radius: $unit;
            background-color: #faedb7;
            margin: auto;
        }

        &_first{
            background-color: #ff7f50;

            @include for-extra-small{
                flex-basis: 1;
            }
        }

        &_second{
            background-color: #006400;

             @include for-extra-small{
                flex-basis: 1;
            }
        }

        &_third{
            background-color: #0ff;
        }
    }
}