
.mountains{
    width: 282px;
    height: 500px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
    background-position: center;
    padding: 32px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-clip: border-box;

}